/* Reset */
* {
    padding: 0;
    margin: 0;
    border: none;
}

:root {
    --accent-primary: #6500FF;
    --accent-secondary: #4bfc2c;

    --bg-primary: #080808;
    --bg-secondary: #4c5157c2;
}

button {
    cursor: pointer;
}