@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=VT323&display=swap');

body {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    background-image: url(../media/default.jpg);
    backdrop-filter: brightness(0.69);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 45%;
    height: 100vh;
    overflow: hidden;
}

::selection{
    background: var(--accent-secondary);
    color: var(--bg-primary);
}

header {
    background: var(--bg-secondary);
    backdrop-filter: blur(7px);
    border-bottom: var(--accent-primary) 1px solid;
    width: 100%;
    position: absolute;
    top: 0;
}

.header_wrapper{
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo span {
    display: inline-block;
    font-size: 18px;
}

.logo:hover {
    outline-offset: 2px;
    outline: 1px solid var(--accent-secondary);
}

.apps_panel {
    display: flex;
    gap: 15px;
    padding: 10px 25px;
    background: var(--bg-secondary);
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--bg-primary);
    color: #fff;
    width: 64px;
    height: 64px;
    border: 1px solid var(--accent-primary);
    outline-offset: 2px;
    gap: 5px;
}

.app:hover {
    outline: 1px solid var(--accent-secondary);
    border-radius: 0px;
}

.app span {
    font-family: "VT323", monospace;
    font-size: 14px;
}

.app_icon {
    font-size: 36px;
    color: var(--accent-secondary);
}

.dark {
    width: 100vw;
    height: 100vh;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bg-primary);
    opacity: 95%;
    transition: ease 0.5s;
}

.welcome {
    z-index: 6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: var(--bg-secondary);
    filter: brightness(1);
    align-items: flex-end;
    backdrop-filter: blur(4px);
    padding: 10px 20px 0px 20px;
    transition: ease 0.5s;
}

.welcome button {
    height: fit-content;
    margin: 20px;
    width: 80px;
    padding: 10px;
    font-family: "VT323", monospace;
    font-size: 20px;
    color: #fff;
    background-color: var(--accent-primary);
}

.welcome h2 {
    position: absolute;
    top: 20px;
    left: 20px;
}

.welcome button:hover {
    outline: 2px #fff solid;
}

.date_time {
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 3;
    font-family: "JetBrains Mono", monospace;
}

.info_panel {
    display: flex;
    gap: 20px;
}

/* APPS */

.app_window {
    display: none;
    z-index: 4;
    background: var(--bg-primary);
    position: absolute;
    border: 1px solid var(--accent-primary);
}

.dragzone {
    border: 1px solid var(--accent-primary);
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dragzone button {
    background: transparent;
    border: 1px solid var(--accent-primary);
    padding: 3px;
}

.dragzone button:hover {
    border: 1px solid red;
}

.app_main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
}


.all_apps_window {
    display: none;
    position: absolute;
    width: fit-content;
    height: auto;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
}

.all_wrapper {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}